.box{
  height: 400px;
  width: 250px;
  padding:  10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
  border-radius: 8px;
}

.box ul{
  padding: 0;
  list-style-position: inside;
}
.box ul li{
  text-align: left;
  height: 18px;
}