header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.349);
}
h1{
  color: green;
}
nav ul{
  list-style-type: none;
  display: flex;
}
nav ul a{
  color: rgb(3, 168, 3);
  text-decoration: none;
  margin-right: 10px;
  transition: 200ms;
}
nav ul a:hover{
  color: rgb(0, 73, 0);
}
