.news-box{
   height: 400px;
   width: 48%;
   border: 1px solid rgb(221, 221, 221);
   border-radius: 10px 10px 0 10px;
   background-color: white;
   overflow: hidden;
}
.news-box-header{
   position: relative;
   padding-left: 15px;
   height: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   font-size: 18px;
   font-weight: 600;
   color: rgb(52, 52, 52);
   border-bottom: 1px solid rgb(237, 237, 237);
}

.news-box-header .span{
   cursor: pointer;
   transition: 0.4s;
}
.news-box-header .span:hover{
   color: rgb(39, 116, 188);;
}

.news-box-header a{
   position: absolute;
   right: 15px;
   color: rgb(39, 116, 188);
   font-weight: 200;
}
/********news-box BODY********/
.news-box-body{
   padding: 10px;
   height: calc(100% - 50px);
   overflow-y: scroll !important; 
}
.news-box-body .news-box-lista{
   display: flex;
   flex-direction: column;
}
.news-box-body .news-box-lista li{
   display: flex;
   gap: 15px;
   padding: 5px;
   height: 100px;
   font-size: 15px;
   border-bottom: 1px solid rgb(231, 230, 230);
}

.news-box-body .news-box-thumb{
   min-width: 120px;
   width: 120px;
   height: 80px;
   overflow: hidden;
   border-radius: 5px;   
}
.news-box-body .news-box-thumb img{
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
.news-box-body .news-box-infos{ 
   display: flex;
   padding-top: 5px;
   flex-direction: column;
   height: 80px;
}
.news-box-body .news-box-infos .news-box-nome{
   color: rgb(41, 41, 41);
   font-size: 16px;
   font-weight: 600;
}
.news-box-body .news-box-infos .news-box-nome:hover{
   color: rgb(0, 168, 230);
}
.news-box-body .news-box-infos .news-box-data{
   font-size: 11px;
   color: gray;
}

/**NOTIFICACOES*/
.news-box-leter{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: 800;
   background-color: rgb(0, 162, 68);
   color: white;
   min-width: 40px !important;
   width: 40px !important;
   height: 40px !important;
   border-radius: 50% !important;
}

.news-box-noti{
   height: 70px !important;
}
.news-box-noti a{
   font-weight: 300 !important;
   
}
.news-box-noti .news-box-infos{
   padding-top: 0 !important;
}