.galerias{
   height: 400px;
   width: 48%;
   border: 1px solid rgb(221, 221, 221);
   border-radius: 10px 10px 0 10px;
   background-color: white;
   overflow: hidden;
}
.galeria-header{
   position: relative;
   padding-left: 15px;
   height: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   font-size: 18px;
   font-weight: 600;
   color: rgb(52, 52, 52);
   border-bottom: 1px solid rgb(237, 237, 237);
}

.galeria-header span{
   cursor: pointer;
   transition: 0.4s;
}
.galeria-header span:hover{
   color: rgb(39, 116, 188);;
}

.galeria-header a{
   position: absolute;
   right: 15px;
   color: rgb(39, 116, 188);
   font-weight: 200;
}
/********GALERIA BODY********/
.galeria-body{
   padding: 10px;
   height: calc(100% - 50px);
   overflow-y: scroll !important; 
}
.galeria-body .lista-de-galerias{
   display: flex;
   flex-direction: column;
}
.galeria-body .lista-de-galerias li{
   display: flex;
   gap: 15px;
   padding: 5px;
   height: 100px;
   font-size: 15px;
   border-bottom: 1px solid rgb(231, 230, 230);
}

.galeria-body .galeria-thumb{
   min-width: 120px;
   width: 120px;
   height: 80px;
   overflow: hidden;
   border-radius: 5px;   
}
.galeria-body .galeria-thumb img{
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}
.galeria-body .galeria-infos{ 
   display: flex;
   gap: 3px;
   padding-top: 5px;
   flex-direction: column;
   height: 80px;
}
.galeria-body .galeria-infos .galeria-nome{
   color: rgb(41, 41, 41);
   font-size: 16px;
   font-weight: 600;
}
.galeria-body .galeria-infos .galeria-nome:hover{
   color: rgb(0, 168, 230);
}
.galeria-body .galeria-infos .galeria-data{
   font-size: 11px;
   color: gray;
}