

header{
   height: 60px;
   width: 100%;
   z-index: 9;
   position: fixed;
   display: flex;
   padding: 0 30px;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid rgb(213, 213, 213);
   background-color: white;
}

.logo{
   font-size: 30px;
   font-weight: 600;
}

.interacao{
   display: flex;
   align-items: center;
   gap: 30px;
}

.hidden{
   display: none !important;
}
