
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
}

:root{
  --cor-texto-padrao: #2f2f3e;
  --cor-backgroud-padrao: rgb(241, 244, 246);
  --azul-padrao: rgb(70, 171, 222);
  --azul-secundario: rgb(44, 143, 207);
  --cor-borda-padrao: rgb(209, 221, 225);
}

@font-face {
  font-family: dmSans;
  src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf');
}

body {
  background: var(--background);
  font-family: 'dmSans',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-wrap: wrap;

}

.container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: calc(100% - 243px);
  min-height: calc(100vh - 60px);
  background-color: rgb(241, 244, 246);
  margin: 60px 0 0 243px;

}
.page-title{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 600;
  height: 35px;
  width: 100%;
  font-size: 19px;
  color: var(--cor-texto-padrao);
  background-color: white;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.086);
}

