
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
}

:root{
  --cor-texto-padrao: #2f2f3e;
}

@font-face {
  font-family: dmSans;
  src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf');
}

body {
  background: var(--background);
  font-family: 'dmSans',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-wrap: wrap;

}

